<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About why you should choose React</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <h1>Main Points to choose React over plain Javascript?</h1>
    <h2>It only {{ why.[0]}} on the part of the website page that you want to {{why.[6]}} with.</h2>
</body>
</html>